name: Docker

on:
  workflow_dispatch:

jobs:
  run-server:
    runs-on: ubuntu-latest
    steps:
      - name: Start Playit Agent
        env:
          MINHA_CHAVE: ${{ secrets.PLAYIT_SECRET }}
        run: |
          docker run --rm -e SECRET_KEY="$MINHA_CHAVE" ghcr.io/playit-cloud/playit-agent:0.16
