name: Docker
on:
  workflow_dispatch:
jobs:
  run-server:
    runs-on: ubuntu-latest
    steps:
      - name: Rodar Playit IPv4
        env:
          CHAVE: ${{ secrets.PLAYIT_SECRET }}
        run: |
          docker run --rm -e SECRET_KEY="$CHAVE" ghcr.io/playit-cloud/playit-agent:0.16 --force-ipv4
