name: Docker
on:
  workflow_dispatch:
jobs:
  run-server:
    runs-on: ubuntu-latest
    steps:
      - name: Ligar Servidor e Tunnel Juntos
        env:
          CHAVE: ${{ secrets.PLAYIT_SECRET }}
        run: |
          # Este comando roda o Minecraft e o Playit grudados um no outro
          docker run --rm -d --name mc-server -e EULA=TRUE -p 19132:19132/udp itzg/minecraft-bedrock-server
          
          # O Playit agora vai usar a rede do computador do GitHub diretamente
          docker run --rm --network host -e SECRET_KEY="$CHAVE" ghcr.io/playit-cloud/playit-agent:0.16 --force-ipv4
