name: Docker
on:
  workflow_dispatch:
jobs:
  run-server:
    runs-on: ubuntu-latest
    steps:
      - name: Rodar Playit
        env:
          SECRET_KEY: ${{ secrets.PLAYIT_SECRET }}
        run: docker run --rm -e SECRET_KEY="$SECRET_KEY" ghcr.io/playit-cloud/playit-agent:0.16
